
  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/bootstrap.js"></script>
  <script src="/scripts/tinymce.min.js"></script>
  <script>
    tinymce.init({
      selector: '#description'
    });
  </script>
</body>
</html>