<% include ../partials/header %>


<div class="container new_HeadContain">
  <h1 class="new_h1">Edit Post</h1>
  <form class="new_Form" action="#" method="POST">
    <div class="form-group">
      <label for="title">Title: </label>
      <input type="text" class="form-control" name="blog[title]" value="<%= v_post.title %>" id="title">
    </div>

    <div class="form-group">
      <label for="description">Description: </label>
      <textarea class="form-control" rows="5" name="blog[description]" id="description"><%= v_post.description %>></textarea>
    </div>

    <div class="form-group">
      <label class="radio-inline">
        <input type="radio" name="blog[status]" value="publish" checked>Publish
      </label>
      <label class="radio-inline">
        <input type="radio" name="blog[status]" value="draft">Draft
      </label>
      <label class="radio-inline">
        <input type="radio" name="blog[status]" value="personal">Personal
      </label>
    </div>



    <input type="submit" class="btn btn-primary btn-lg btn-block new_btnSubmit" value="Post">
    <a href="/">Go back</a>
    <input type="hidden" name="referer" value=<%=referer %> >
  </form>

</div>

<% include ../partials/footer %>